* {
  box-sizing: border-box;
}

body {
  --background-color: white;
  --text-color: black;
  --element-color: white;
  /* --ele-color:  */
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}
body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --element-color: hsl(209, 23%, 22%);
}
main {
  padding: 24px;
  height: 90.1vh;
  /* background-color: var(--element-color); */
  /* background-color: var(--background-color); */
}
body {
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: inherit;
}
.title {
  font-weight: 800;
}
.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--element-color);
  color: var(--text-color);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

.header-content h2,
p {
  cursor: pointer;
}
.back-button {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  /* color: black; */
  border: none;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.country-details {
  margin-top: 70px;
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  /* max-height: 350px; */
  background-color: var(--background-color);
  /* background-color: bisque; */
}
.country-flag {
  width: 40%;
  height: auto;
  position: relative;
  /* background-color: rgb(99, 80, 50); */
}
.country-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; /* hidden until loaded */
  border-radius: 8px;
  border: 1px solid rgb(206, 204, 204);
}

.flag-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
  border-radius: 8px;
}
/* Shimmer animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.country-content {
  width: 60%;
  padding-left: 90px;
}
.country-content p {
  color: var(--text-color);
  /* margin-bottom: 20px; */
  font-size: 40px;
  margin-block: 18px;
  font-weight: 600;
}
.country-content .more-details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
  /* margin-inline: auto; */
}
.country-content .more-details p {
  font-size: 20px;
  margin: 4px;
  cursor: default;
}
.border-countries-container {
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  /* color: var(--text-color); */
  /* background-color: rebeccapurple; */
}
.border-countries-container h3 {
  color: var(--text-color);
}
.border-coun {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.border-countries-container .country {
  /* background-color: rgb(138, 13, 13); */
  background-color: var(--element-color);
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  padding-inline: 8px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .country-details {
    flex-direction: column;
    align-items: center;
  }
  .country-content {
    padding-bottom: 40px;
    padding-left: 20px;
    width: 100%;
  }
  .country-flag {
    width: 100%;
  }
  body {
    background-color: var(--background-color);
  }
  .country-content .country-name {
    text-align: center;
    font-size: 50px;
  }
  .more-details p span {
    font-size: 24px;
  }
  .border-countries-container {
    flex-direction: column;
    align-items: start;
  }
  .header-content .title {
    font-size: 14px;
  }
  .header-content p {
    font-size: 14px;
  }
}
